@font-face {
	font-family: 'avantgarde';
	src: url(../fonts/AVGARDR2.otf) format('opentype'),
	     url(../fonts/AVGARDR2.ttf) format('truetype');
}

@font-face {
	font-family: 'avantgarde-semibold';
	src: url(../fonts/AVGARDD2.otf) format('opentype'),
	     url(../fonts/AVGARDD2.ttf) format('truetype');
}

html {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: stretch;
    background-color: white;
    text-align: center;
    font-family: 'avantgarde';
}

#jumbotron {
    position: absolute;
}

.wrapper {
    position: relative;
    max-width: 96em;
    margin: auto;
    text-align: left;
}

.skiplink {
    display: block;
    position: fixed ;
    top: -100%;
    width: 100%;
    padding: 1em;
    background-color: black;
    color: white;
}

.skiplink:focus {
    top: 0;
}

/* --------------------------------- HEADER -------------------------------- */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 1em;
    top: 0;
    z-index: 1000000;
    overflow: visible;
}

#navBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 1em;
    text-align: right;
}

#logo {
    position: relative;
    height: auto;
    text-align: left;
    mix-blend-mode: difference;
    color: black;
}

#logo svg {
    width: auto;
    height: 8em;
}


/* ------------------------------- SEARCH BOX ------------------------------ */
#searchBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    position: relative;
    width: auto;
    height: calc(3.5em + 4px);
    margin: 0 1em;
    padding: 0;
    border: none;
    background-color: white;
}

#searchBox input {
    display: block;
    position: relative;
    width: calc(3.5em + 6px);
    height: calc(3.5em +8px);
    border: 1px solid purple;
    background-image: url('../images/magnifying-glass.svg');
    background-size: 3.5em 3.5em;
    background-position: center center;
    background-repeat: no-repeat;

}

#searchBox input:focus,
#searchBox input:valid {
    flex-grow: 1;
    width: auto;
    margin: 0 0.5em;
    background-image: none;
}

#searchBox > button {
    display: none;
    padding: 0;
    border: none;
    overflow: hidden;
}

#searchBox button:focus,
#searchBox > input:focus ~ button,
#searchBox > input:valid ~ button {
    display: block;
    width: auto;
    margin: 0 0.5em;
    padding: 0.25em 1em;
    border: none;
    background-color: #999999;
    color: white;
    vertical-align: baseline;
}

/* ------------------------------- MAIN MENU ------------------------------- */
#mainMenu {
    margin: 1em;
    padding: 0;
    text-align: right;
    background-color: white;
}

#mainMenu .no-js-open,
#mainMenu .no-js-dismiss {
    display: none;
}

#mainMenu.no-js .no-js-open {
    display: block;
    color: black;
}

#mainMenu.no-js .no-js-dismiss {
    display: block;
    color: white;
} 

#mainMenu > .accessibleMenuButton {
    display: block;
    width: 2.5em;
    height: 2.5em;
    padding: 0 1em;
    border: 1px solid black;
    background-color: white;
    color: black;
    text-align: center !important;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: left;
    vertical-align: top;
}

#mainMenu .accessibleMenuList {
    margin: 0;
    padding: 0;
}

#mainMenu > .accessibleMenuButton[aria-expanded=false] {
    display: inline-block;
    position: relative;
    width: 2.5em;
    height: 2.5em;
    padding: 0.5em;
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 1.5em;
    line-height: 1em;
    text-align: center;
    vertical-align: top;
}

#mainMenu > .accessibleMenuButton[aria-expanded=true] {
    display: block;
    position: fixed;
    right: 80vw;
    top: 0;
    background-color: black;
    color: white;

}

#mainMenu > .accessibleMenuList {
    position: fixed;
    width: 80vw;
    height: auto;
    top: 0;
    right: 0;
    padding: 0;
    background-color: black;
    text-align: left;
    list-style-type: none;
}

#mainMenu .accessibleMenuList .accessibleMenuButton {
    display: inline-block;
    width: 1em;
    margin: 0 0.5em;
    border: none;
    background-color: black;
    color: white;
    line-height: 1.5em;
    vertical-align: top;
}

#mainMenu .accessibleMenuButton:hover,
#mainMenu .accessibleMenuButton:focus {
    background-color: #999999;
}

#mainMenu li {
    padding: 0.5em;
}

#mainMenu a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

#mainMenu a:hover,
#mainMenu a:focus {
    background-color: #999999;
    text-decoration: underline;
}

#mainMenu li:hover .accessibleMenuList {
    display: block;
}

#mainMenu li:hover .accessibleMenuButton .open {
    display: none;
}

#mainMenu li:hover .accessibleMenuButton .dismiss {
    display: block;
}

#mainMenu .accessibleMenuList .accessibleMenuList {
    position: relative;
    text-align: left;
}

#mainMenu .accessibleMenuList .accessibleMenuList li {
    display: block;
    padding-left: 1em;
}

#mainMenu:target,
#mainMenu.no-js:target {
    display: block;
    position: fixed;
    z-index: 1000000;
}

#mainMenu.no-js .no-js-open {
    display: inline-block;
    position: relative;
    padding: 0.5em;
    font-size: 2em;
}

#mainMenu:target .no-js-open, 
#mainMenu.no-js:target .no-js-open {
    display: none;
}

#mainMenu.no-js .no-js-dismiss {
    display: none;
}

#mainMenu:target .no-js-dismiss, 
#mainMenu.no-js:target .no-js-dismiss {
    display: block;
    position: fixed;
    top: 0;
    right: 80vw;
    padding: 0.5em;
    font-size: 2em;
    background-color: black;
    color: white;
}
#mainMenu:target .accessibleMenuList,
#mainMenu.no-js:target .accessibleMenuList {
    display: block;
    background-color: black;
}

#mainMenu:target > .accessibleMenuList .accessibleMenuButton,
#mainMenu.no-js:target > .accessibleMenuList .accessibleMenuButton {
    display: none;
}

#mainMenu:target .accessibleMenuList .accessibleMenuList,
#mainMenu.no-js:target .accessibleMenuList .accessibleMenuList,
#mainMenu:target .accessibleMenuList .accessibleMenuList .accessibleMenuList, 
#mainMenu.no-js:target .accessibleMenuList .accessibleMenuList .accessibleMenuList{
    display: block !important;
    position: relative;
    background-color: black;
}

#mainMenu:target a,
#mainMenu.no-js:target a {
    color: white;
}


/* --------------------------------- CONTENT ------------------------------- */
main {
    margin: 0 1em;
    flex-grow: 3;
    text-align: left;
}

.news {
    padding: 1em;
    background-color: #dedede;
    color: black;
}

h1 {
    margin-top: 1em;
    font-family: avantgarde;
    font-size: 3em;
    font-weight: normal;
}

h2 {
    margin: 1em 0;
    font-family: avantgarde;
    font-size: 2em;
    font-weight: normal;
}


.cta {
    display: inline-block;
    padding: 0.5em;
    background-color: #666666;
    color: white;
}

/* --------------------------------- TEASER -------------------------------- */
.bigTeaser {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    padding-bottom: 2em;
    border-bottom: 1px solid black;
}

.smallTeaser {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    padding: 1em;
    background-color: #dedede;
}

.teaserImage img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.bigTeaser h2 {
    font-size: 3em;
}

.teaserText p {
    font-size: 1.5em;
    hyphens: auto;
}

.smallTeaser .teaserText p {
    font-size: 1em;
}


/* ------------------------------- REFERENCES ------------------------------- */

.refImages {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: #dedede;
}

.refImages .bigImg {
    position: relative;
    margin-right: 1em;
}

.refImgGroup {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-end;
}

.refImages .refImg {
    width: calc(50% - 0.5em);
    margin: 0.5em 0.5em 0 0;
}

.refImages img {
    width: 100%;
    height: auto;
}


.refImages .refImg:first-of-type:nth-last-of-type(2n),
.refImages .refImg:first-of-type:nth-last-of-type(2n) ~.refImg {
    width: calc(50% - 0.5em);
}

/*.refImages .refImg:first-of-type:nth-last-of-type(3n),
.refImages .refImg:first-of-type:nth-last-of-type(3n) ~ .refImg,*/
.refImages .refImg:nth-of-type(2n + 3):nth-last-of-type(3n),
.refImages .refImg:nth-of-type(2n + 3):nth-last-of-type(3n) ~ .refImg{
    width: calc(33.333% - 0.5em);
}

.refImages .refImg:first-of-type:last-of-type,
.refImages .refImg:first-of-type:nth-last-of-type(2),
.refImages .refImg:first-of-type:nth-last-of-type(2) + .refImg {
    width: 100%;
}

/* --------------------------------- FOOTER -------------------------------- */
footer {
    position: relative;
    margin-top: 6em;
    padding: 0;
    background-color: black;
    color: white;
    text-align: left;
}

#footer {
    display: flex;
    flex-wrap: wrap;
    padding: 1.25em;
    font-size: 0.8em;
    line-height: 2em;
    background-color: black;
}

.footer-col {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    padding: 0;
}

.footer-col:first-of-type {
    width: 100%;
}

.footer-col:nth-of-type(2) {
    flex-grow: 1;
}

.footer-col:last-of-type {
    text-align: right;
}

#footer span {
    display: block;
}

#footer a {
    color: white;
}

#footer-som a {
    text-decoration: none;
}

#footer-som svg {
    display: inline-block;
    width: auto;
    height: 1.5em;
    vertical-align: text-top;
}

#macher {
    display: block;
    position: absolute;
    width: auto;
    height: 8em;
    top: -4em;
    right: 1em;
    padding: 0;
    vertical-align: bottom;
    box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 0.5);
}

#macher img {
    height: 100%;
    width: auto;
}

/* #############################################################################
                                 MEDIA QUERIES
############################################################################# */

/*###################################### 36em ############################### */
@media screen and (min-width: 36em) {

    #navBar {
        flex-direction: row;
        align-items: flex-end;
        height: 8em;
    }
    
    #searchBox {
        align-self: flex-end;
        margin-bottom: 1em;
    }

    #footer {
        flex-wrap: nowrap;
        padding-top: 4em;
    }
    
    .footer-col:first-of-type {
        width: auto;
        flex-grow: 1;
    }
    
    .footer-col:last-of-type {
        flex-grow:  1;
    }
    
    #macher {
        right: 3em;
    }
}

/*###################################### 72em ############################### */

@media screen and (min-width: 72em) {

    .wrapper {
        max-width: 70em;
        margin: auto;
    }
    
    #searchBox {
        align-self: flex-end;
        height: 2em;
        margin: 0 0 1.5em 0;
        padding: 0;
    }
    
    #searchBox input {
        width: 2em;
        height: 2em;
        margin: 0;
        padding: 0.5em;
        border: none;
        background-size: 2em 2em;
    }
    
    #searchBox input:focus,
    #searchBox input:valid {
        align-self: stretch;
        height: auto;
        border: 1px solid black;
    }

    #searchBox button:focus,
    #searchBox > input:focus ~ button,
    #searchBox > input:valid ~ button {
        display: block;
        align-self: stretch;
        width: auto;
        height: auto
        margin: 0 0.5em;
        padding: 0.5em 1em;
        border: none;
        background-color: #999999;
        color: white;
        vertical-align: baseline;
    }

    #mainMenu {
        position: relative;
        align-self: flex-end;
    }
    
    #mainMenu li {
        display: block;
        width: auto;
    }
    
    #mainMenu > .accessibleMenuButton[aria-expanded] {
        display: none !important;
        position: relative;
    }
    
    #mainMenu > .accessibleMenuButton,
    #mainMenu .accessibleMenuButton,
    #mainMenu .accessibleMenuList .accessibleMenuButton {
        background-color: white;
        color: black;
    }
    
    #mainMenu .accessibleMenuButton:hover,
    #mainMenu .accessibleMenuButton:focus {
        background-color: #999999;
    }
    
    #mainMenu > .accessibleMenuList {
        display: flex !important;
        justify-content: flex-end;
        position: relative;
        width: 100%;
        text-align: right;
        background-color: white;
    }
    
    #mainMenu.no-js > .accessibleMenuList {
        display: none !important;
    }
 
    #mainMenu > .accessibleMenuList > li {
        display: block;
        width: auto;
        white-space: nowrap;
    }
    
    #mainMenu a {
        color: black;
    }
    
    #mainMenu a:hover,
    #mainMenu a:focus {
        background-color: #999999;
        text-decoration: underline;
    }
    
    #mainMenu > .accessibleMenuList .accessibleMenuList {
        position: absolute;
        top: 100%;
        background-color: white;
        box-shadow: 0.2em 0.5em 0.5em rgba(0, 0, 0, 0.5);
    }
           
    #mainMenu > .accessibleMenuList .accessibleMenuList .accessibleMenuList {
        position: relative;
        box-shadow: none;
    }
    #mainMenu .accessibleMenuList .accessibleMenuList li {
        padding-left: 0.5em;
    }
    
    #mainMenu:target,
    #mainMenu.no-js:target {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: black;
        text-align: left;
        z-index: 100000;
    }
    
    #mainMenu:target > .no-js-dismiss,
    #mainMenu.no-js:target > .no-js-dismiss {
        top: 0;
        right: auto;
        left: 0;
        padding: 0 0.5em;
    }

    #mainMenu:target > .accessibleMenuList,
    #mainMenu.no-js:target > .accessibleMenuList {
        display: flex !important;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: start;
        position: relative;
        background-color: black;
        text-align: left;
    }

    #mainMenu:target > .accessibleMenuList > li {
        display: block;
        width: auto;
        background-color: black;
        color: white
    }
    
    /* ----------------------------- TEASER ----------------------------------*/
    .bigTeaser {
        flex-direction: row;
        align-items: flex-end;
    }
    
    .bigTeaser:nth-of-type(2n) {
        flex-direction: row-reverse;
    }
    
    .smallTeaser {
        flex-direction: row;
        align-items: flex-end;
    }
    
    .teaserImage {
        width: 66.666%;
        width: 100%;
        height: auto;
    }
    
    .smallTeaser .teaserImage {
        width: 50%;
        height: auto;
    }
    
    .teaserImage img {
        width: 100%;
        height: auto;
        vertical-align: bottom;
    }
    
    .teaserText {
        width: 33.333%;
        margin-left: 2em;
    }
    
    .smallTeaser .teaserText {
        width: 50%;
    }
    
    .bigTeaser:nth-of-type(2n) .teaserText {
        margin-left: 0;
        margin-right: 2em;
    }
    
    .teaserText p:last-of-type {
        margin-bottom: 0;
    }

    
    /* --------------------------- REFERENCES --------------------------------*/
    .refImages {
        flex-direction: row;
    }
    
    .refImages .bigImg {
        width: 66.666%;
    }
    
    .refImages .refImgGroup {
        width: 33.333%;
    }
    
    
    /* ----------------------------- FOOTER ----------------------------------*/

    .footer-col,
    .footer-col:first-of-type,
    .footer-col:last-of-type {
        flex-direction: row;
        width: auto;
    }
    
    .footer-col:first-of-type {
        flex-grow: 5;
        justify-content: flex-start;
        padding-left: 0;
        padding-right: 1em;
        text-align: left;
    }
    
    .footer-col:nth-of-type(2) {
        flex-grow: 4;
        justify-content: center;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    
    .footer-col:last-of-type {
        flex-grow: 3;
        justify-content: flex-end;
        padding-left: 1em;
        padding-right: 0;
        text-align: right;
    }
    .footer-col span {
        margin: 0 0.5em;
    } 
}

/*###################################### 96em ############################### */


